In [ ]:
# read and analysis for varBC coefficient GSI output file
# initial built: 2024/07/18

import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

In [105]:
root='/scratch2/GFDL/gfdlscr/Chih-Chi.Hu/single_cycle_VarBC_experiment/BC_coefficient/'
exps=['bc0','bc0_inf','bc0_noinf','bc1','bc1_inf','bc1_noinf']

#fn='/scratch2/GFDL/gfdlscr/Chih-Chi.Hu/single_cycle_VarBC_experiment/BC_coefficient/BC1/gdas.t18z.abias'
fn=[];
for exp in exps:
    if exp in ('bc0', 'bc1'): # prior coefficients:
        fn.append(f'{root}/{exp}/gdas.t18z.abias')
    else:
        fn.append(f'{root}/analysis/{exp}/gdas.t00z.abias')

In [106]:
keys=['sensor_name','sensor_ch','global_offset','sq_temp','temp', \
      'ang_4th', 'ang_3rd', 'ang_2nd', 'ang_1st']

df_exp={};

for e, exp in enumerate(exps):
    bc_dic = {key: [] for key in keys}

    with open(fn[e], 'r') as file:

        for i, line in enumerate(file):

            if np.mod(i,3)==0:
                parts = line.split()
                if parts[-1] != '0':
                    read_line = True
                    bc_dic['sensor_name'].append(parts[1])
                    bc_dic['sensor_ch'].append(parts[2])
                else:
                    read_line = False

            elif np.mod(i,3)==1 and read_line:
                parts = line.split()
                bc_dic['global_offset'].append(parts[0])
                bc_dic['sq_temp'].append(parts[3])
                bc_dic['temp'].append(parts[4])
                bc_dic['ang_4th'].append(parts[8])
                bc_dic['ang_3rd'].append(parts[9])

            elif np.mod(i,3)==2 and read_line:
                parts = line.split()
                bc_dic['ang_2nd'].append(parts[0])
                bc_dic['ang_1st'].append(parts[1])

    # turn the dictionary into panda frame
    df = pd.DataFrame(bc_dic)
    df_exp[exp] = df

In [111]:
# a few panda dataframe operations examples
sensor_select='amsua'
ch_select='1'
exp_select='bc0'

df = df_exp[exp_select]
df_tmp = df[ (df['sensor_name'].str.startswith(sensor_select)) & \
             (df['sensor_ch'] == ch_select )]
df_tmp

,sensor_name,sensor_ch,global_offset,sq_temp,temp,ang_4th,ang_3rd,ang_2nd,ang_1st
0,amsua_n15,1,3.065046,-1.944852,0.634907,-1.631860,1.223360,-1.785912,-1.502905
13,amsua_n18,1,1.827177,0.394381,-1.031961,-1.219288,-0.669459,-2.698400,0.417106
669,amsua_n19,1,1.704981,0.089255,-0.704687,2.171531,-0.910662,-4.979148,-0.362267
1553,amsua_metop-b,1,0.514526,0.000000,0.000000,1.014890,-0.059302,-1.762780,0.011955
2221,amsua_metop-c,1,2.107964,-0.692457,-0.085528,1.072888,-0.228078,-4.030127,0.291099

In [112]:
# a few panda dataframe operations examples
sensor_select='amsua'
ch_select='1'
exp_select='bc1'

df = df_exp[exp_select]
df_tmp = df[ (df['sensor_name'].str.startswith(sensor_select)) & \
             (df['sensor_ch'] == ch_select )]
df_tmp

,sensor_name,sensor_ch,global_offset,sq_temp,temp,ang_4th,ang_3rd,ang_2nd,ang_1st
0,amsua_n15,1,3.816713,-2.645769,2.012994,-2.237891,1.323678,-1.601755,-1.591492
13,amsua_n18,1,2.519701,-0.399919,0.156748,-1.472034,-0.844624,-2.538705,0.477387
669,amsua_n19,1,2.395115,-0.372630,0.537443,0.948103,-0.743077,-4.373176,-0.407991
1553,amsua_metop-b,1,0.514526,0.000000,0.000000,1.014890,-0.059302,-1.762780,0.011955
2221,amsua_metop-c,1,2.816607,-1.502808,1.184622,0.346125,-0.181426,-3.681897,0.267764

In [104]:
# a few panda dataframe operations examples
sensor_select='atms'
ch_select='17'
exp_select='bc0_noinf'

df = df_exp[exp_select]
df_tmp = df[ (df['sensor_name'].str.startswith(sensor_select)) & \
             (df['sensor_ch'] == ch_select )]
df_tmp

,sensor_name,sensor_ch,global_offset,sq_temp,temp,ang_4th,ang_3rd,ang_2nd,ang_1st
766,atms_npp,17,-0.031908,0.262874,-1.342512,-1.405013,-0.119924,-0.903673,-0.080861
788,atms_n20,17,-0.236109,0.216621,-1.223664,-1.374631,-0.309856,-0.813322,-0.003303

In [ ]:
# a few panda dataframe operations examples
df[ df['sensor_name'] == 'amsua_n18' ]

In [ ]:
# a few panda dataframe operations examples

print('total number of sensors is: ', df['sensor_name'].nunique())
print('the sensors are: ', df['sensor_name'].unique())

In [ ]:
# an example of "and" and "&":
# if change "and" to "&" the following code won't work as expected:
ccwu = 2
cchu = True
if np.mod(ccwu,3)==1 and cchu:
    print('here')
elif np.mod(ccwu,3)==2 and cchu:
    print('hhere')